* {
    margin: 3px 10px;

    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background-color: none;
}

.login-btn {
    background: #846ca7;
    color: rgb(255, 255, 255);
    border: 2px solid#846ca7;
    border-radius: 50px;
    padding: 12px 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    transition: all 1s ease-in;
}

.register-btn {
    background: #846ca7;
    color: rgb(255, 255, 255);
    border: 2px solid#846ca7;
    border-radius: 50px;
    padding: 12px 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    transition: all 1s ease-in;
}

button:hover {
    background: #7272b7;
    transform-style: preserve-3d;
    transform: scale(1.03);
    transform: all ease 0.1s;
}

.links {
    margin: 30px 15PX;
    font-size: 16px;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 30px;
}

.socialmedia i {
    font-size: 30px;
    margin: 27px 0px;
    color: #846ca7;

}

.socialmedia i:hover {
    transition: all 0.5s;
    color: rgb(145, 192, 211);
}
Écrire à Houssem Atallah
